<div class="container-fluid"></div>
<form (submit)="add()">
  <input type="text" placeholder="Id" [(ngModel)]="newTodo.id" name="id">
  <input type="text" placeholder="Title" [(ngModel)]="newTodo.title" name="title">
  <input type="text" placeholder="Description" [(ngModel)]="newTodo.description" name="description">
  <input type="text" placeholder="Completed" [(ngModel)]="newTodo.completed" name="completed">
  <button type="submit">Add</button>
</form>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Completed</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>
      <td>{{ todo.completed }}</td>
      <td>
        <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee"
          (click)="update(todo)">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="delete(todo)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>

